.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 999999;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
  }

  &__item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid $color-blue-light;
    cursor: pointer;
  }

  &__item--active {
    background-color: $color-blue-dark;
  }
}
