$color-white: #fff;
$color-black: #000;

$color-blue-dark: #058cca;
$color-blue-light: #52c2f5;
$color-blue-darker: #01293d;

$color-gray: #707070;
$color-gray-light: #b2b2b2;

//FONT FAMILY
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

//FONT-SIZE
$html-font: 62.5%; //10px
$font-size-small: 1.4em; //14px
$font-size-medium-small: 1.6em; //16px
$font-size-medium: 1.8em; //18px
$font-size-medium-large: 2em; //20px
$font-size-large: 2.5em; //25px
$font-size-Xlarge: 3em; //30px
$font-size-XXLarge: 3.5em; //35px

//FONT-WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//FONT-STYLE
$font-style-normal: normal;
$font-style-italic: Italic;

//LETTER SPACING
$spacing-small: 0.2px;
$spacing-normal: 0.4px;
$spacing-medium: 0.6px;

//LINE HEIGHT
$line-height-small: 24px;
$line-height-normal: 30px;
