.kitchen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mq(xlarge) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: $font-secondary;
    font-size: $font-size-XXLarge;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
    text-transform: uppercase;

    @include mq(medium) {
      font-size: $font-size-XXLarge + 0.5em;
    }

    @include mq(xlarge) {
      width: 100%;
      text-align: center;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 2px;
      background-color: $color-blue-dark;

      @include mq(xlarge) {
        width: 12%;
      }
    }
  }

  &__description {
    width: 270px;
    margin-top: 20px;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    line-height: 25px;
    margin-bottom: 2%;

    @include mq(medium) {
      font-size: $font-size-medium-small;
    }
  }

  &__description-left {
    margin-left: 5%;
    text-align: left;
    margin-bottom: 2%;

    @include mq(fullHD) {
      margin-left: 55%;
    }
  }

  &__description-right {
    margin-right: 5%;
    text-align: right;

    @include mq(fullHD) {
      margin-right: 55%;
    }
  }

  &__picture {
    width: 270px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq(medium) {
      width: 440px;
    }

    @include mq(xlarge) {
      width: 90%;
    }
  }

  &__picture-left {
    background-image: url('../assets/kitchen-left_640.jpg');
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    @include mq(xlarge) {
      background-image: url('../assets/kitchen-left_1280.jpg');
    }

    @include mq(fullHD) {
      background-image: url('../assets/kitchen-left_1920.jpg');
    }
  }

  &__picture-right {
    background-image: url('../assets/kitchen-right_640.jpg');
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);

    @include mq(xlarge) {
      background-image: url('../assets/kitchen-right_1280.jpg');
    }
    @include mq(fullHD) {
      background-image: url('../assets/kitchen-right_1920.jpg');
    }
  }

  &__col {
    width: 100%;
    height: 257px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(medium) {
      height: 405px;
    }

    @include mq(xlarge) {
      margin-top: 10%;
      width: 50%;
      height: 100%;
    }
  }

  &__col-left {
    align-items: flex-start;

    @include mq(medium) {
      margin-top: 20px;
    }

    @include mq(xlarge) {
      margin-top: 10%;
    }
  }

  &__col-right {
    align-items: flex-end;
  }
}
