@import './tools/reset';
@import './utils/mixins';
@import './utils/variables';

@import './components/swiper-pagination';
@import './layout/presentation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $html-font;
}

body {
  font-family: $font-primary;
  overflow:hidden;
}

html,body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
