@import './tools/reset';
@import './utils/mixins';
@import './utils/variables';

@import './layout/presentation';
@import './layout/home';
@import './layout/monochrome';
@import './layout/kitchen';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $html-font;
}

body {
  font-family: $font-primary;
  overflow: hidden;
}

html,
body {
  position: relative;
  height: 100%;
}

.s1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid $color-blue-light;
}

.swiper-pagination-bullet-active {
  background-color: $color-blue-dark;
}
